models:
  wakeword:
    path: models/hey_rhasspy_v0.1.onnx
    scale: 1.35
  dino_core:
    path: models/die_no_core.onnx
    scale: 1.25

  lumos:
    path: models/lume_moss.onnx
  maxima:
    path: models/maxima.onnx
  famf:
    path: models/freeze_all_motor_function.onnx

utterance:
  wakeword: dino_core
  exec: ./on_utterance.sh

matchers:
  shutdown:
    chain:
      - model: dino_core
      - model: famf
    action: exit:32
